<app-header></app-header>
<div id="preloader"></div>
<section id="single-page-slider" class="no-margin">
  <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="item active">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="center gap fade-down section-heading">
                              <h2 class="main-title">Our Works</h2>
                              <hr>
                              <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                          </div>
                      </div>   
                  </div>
              </div>
          </div><!--/.item-->
      </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
</section><!--/#main-slider-->

<div id="content-wrapper">
  <section id="portfolio" class="white">
      <div class="container">
          <div class="gap"></div> 
              <div class="center gap fade-down section-heading">
                  <h2 class="main-title">Examples Of Excellence</h2>
                  <hr>
                  <p>She evil face fine calm have now. Separate screened he outweigh of distance landlord.</p>
              </div> 
              <ul class="portfolio-filter fade-down center">
                  <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">All</a></li>
                  <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".bootstrap">Bootstrap</a></li>
                  <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".html">HTML</a></li>
                  <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".wordpress">Wordpress</a></li>
              </ul><!--/#portfolio-filter-->

              <ul class="portfolio-items col-3 isotope fade-up">
                  <li class="portfolio-item apps isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>             
                          </div>           
                      </div>           
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item joomla bootstrap isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>              
                          </div>           
                      </div>           
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item bootstrap wordpress isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>        
                          </div>           
                      </div>           
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item joomla wordpress apps isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>          
                          </div>           
                      </div>           
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item joomla html isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>          
                          </div>    
                      </div>       
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item wordpress html isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>           
                          </div>           
                      </div>           
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item joomla wordpress apps isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>          
                          </div>           
                      </div>           
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item joomla html isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>          
                          </div>    
                      </div>       
                  </li><!--/.portfolio-item-->
                  <li class="portfolio-item wordpress html isotope-item">
                      <div class="item-inner">
                          <img src="http://placehold.it/800x600" alt="">
                          <h5>Lorem ipsum dolor sit amet</h5>
                          <div class="overlay">
                              <a class="preview btn btn-outlined btn-primary" href="http://placehold.it/800x600" rel="prettyPhoto"><i class="fa fa-eye"></i></a>           
                          </div>           
                      </div>           
                  </li><!--/.portfolio-item-->
              </ul>
          </div>
      </section>
</div>
<app-footer></app-footer>