<div id="preloader"></div>
<app-header></app-header>

<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <span class="home-icon pe-7s-gleam bounce-in"></span>
                                <h2 class="boxed animation animated-item-1 fade-down">UH OH, A 404 ERROR</h2>
                                <p class="boxed animation animated-item-2 fade-up">The Page you are looking for doesn't exist or an other error occurred. Head home to try again.</p>
                                <br>
                                <a class="btn btn-md animation bounce-in" href="index.html">Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->

