<nav class="navbar  fixed-top navbar-expand-lg navbar-inverse  ">
        <div class="navbar-header ">            
            <a class="navbar-brand" href="index.html"><h1><span class="pe-7s-gleam bounce-in"></span> IMPACT</h1></a>
           
        </div>
        <button style="color:white" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
           </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav navbar-righ">
                <li><a href="/">Home</a></li>
                <li><a href="about-us">About Us</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="images">images</a></li>
                <li><a href="portfolio">Portfolio</a></li>
                <li><a href="contact-us">Contact</a></li> 
                
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="project-item.html">Project Single</a></li>
                        <li><a href="blog-item.html">Blog Single</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
            </ul>
       
         
        </div>
</nav>
