<section id="single-quote" class="divider-section"> 	            	        
  <div class="container">
    <div class="gap"></div> 
      <div class="row">                        
          <div class='col-md-offset-2 col-md-8 fade-up'>
              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                  <div class="carousel-inner">
                      <div class="item active">
                          <blockquote>
                              <div class="row">
                                  <div class="col-sm-3 text-center">
                                      <img class="img-responsive" src="https://images.pexels.com/photos/289225/pexels-photo-289225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" style="width: 100px;height:100px;">
                                  </div>
                                  <div class="col-sm-9">
                                      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                                      <small>Someone famous</small>
                                  </div>
                              </div>
                          </blockquote>
                      </div>	                                
                  </div>                                     
              </div> 
          </div>
      </div>
      <div class="gap"></div>
</div>
</section>
