<aside>


  <div class="widget categories">
      <h3 class="widget-title">Blog Categories</h3>
      <div class="row">
          <div class="col-sm-6">
              <ul class="arrow">
                  <li><a href="#">Fashion</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Music</a></li>
                  <li><a href="#">Reviews</a></li>
                  <li><a href="#">News</a></li>
              </ul>
          </div>
          <div class="col-sm-6">
              <ul class="arrow">
                  <li><a href="#">Nature</a></li>
                  <li><a href="#">Travel</a></li>
                  <li><a href="#">Web Design</a></li>
                  <li><a href="#">Tutorial</a></li>
                  <li><a href="#">Samples</a></li>
              </ul>
          </div>
      </div>                     
  </div><!--/.categories-->
  <div class="widget tags">
      <h3 class="widget-title">Post Tags</h3>
      <ul class="tag-cloud">
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Fashion</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Video</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">WordPress</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Plugins</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Downloads</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Freebies</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Envato</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Tutorial</a></li>
          <li><a class="btn btn-xs btn-primary btn-outlined" href="#">Update</a></li>
      </ul>
  </div><!--/.tags-->

</aside>  