<section id="single-page-slider" class="no-margin">
  <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="item active">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="center gap fade-down section-heading">
                              <h2 class="main-title">Hot Off The Press</h2>
                              <hr>
                              <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                          </div>
                      </div>   
                  </div>
              </div>
          </div><!--/.item-->
      </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
</section><!--/#main-slider-->

<div id="content-wrapper">
  <section id="blog" class="white">
      <div class="container">            
      <div class="gap"></div>
          <div class="row">
            <app-tag class="col-sm-4 col-sm-push-8"></app-tag>
              <div class="col-sm-8 col-sm-pull-4">
                  <div class="blog">
                      <div class="blog-item">
                          <div class="blog-featured-image">
                              <img class="img-responsive img-blog" src="http://placehold.it/800x600" alt="" />
                              <div class="overlay">
                                  <a class="preview btn btn-outlined btn-primary" href="blog-item.html" rel="prettyPhoto"><i class="fa fa-link"></i></a>
                              </div>  
                          </div>  
                          <div class="blog-content">
                              <a href="blog-item.html"><h3 class="main-title">Civility vicinity graceful is it at.</h3></a>
                              <div class="entry-meta">
                                  <span><i class="fa fa-user"></i> <a href="#"> Danny Jones</a></span>
                                  <span><i class="fa fa-folder"></i> <a href="#"> Style</a></span>
                                  <span><i class="fa fa-clock-o"></i> April 5th, 2014</span>
                                  <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments"><span class="counter">14</span> Comments</a></span>
                              </div>
                              <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                              <div class="read-more-wrapper">                                    
                                  <a class="btn btn-outlined btn-primary" href="item">Read More</a>
                              </div>
                          </div>
                      </div><!--/.blog-item-->
                      <div class="blog-item">
                          <div class="blog-featured-image">
                              <img class="img-responsive img-blog" src="http://placehold.it/800x600" alt="" />
                              <div class="overlay">
                                  <a class="preview btn btn-outlined btn-primary" href="blog-item.html" rel="prettyPhoto"><i class="fa fa-link"></i></a>
                              </div>  
                          </div>  
                          <div class="blog-content">
                              <a href="blog-item.html"><h3 class="main-title">Civility vicinity graceful is it at.</h3></a>
                              <div class="entry-meta">
                                  <span><i class="fa fa-user"></i> <a href="#"> Danny Jones</a></span>
                                  <span><i class="fa fa-folder"></i> <a href="#"> Style</a></span>
                                  <span><i class="fa fa-clock-o"></i> April 5th, 2014</span>
                                  <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments"><span class="counter">14</span> Comments</a></span>
                              </div>
                              <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                              <div class="read-more-wrapper">                                    
                                  <a class="btn btn-outlined btn-primary" href="blog-item.html">Read More</a>
                              </div>
                          </div>
                      </div><!--/.blog-item-->
                      <div class="blog-item">
                          <div class="blog-featured-image">
                              <img class="img-responsive img-blog" src="http://placehold.it/800x600" alt="" />
                              <div class="overlay">
                                  <a class="preview btn btn-outlined btn-primary" href="blog-item.html" rel="prettyPhoto"><i class="fa fa-link"></i></a>
                              </div>  
                          </div>  
                          <div class="blog-content">
                              <a href="blog-item.html"><h3 class="main-title">Civility vicinity graceful is it at.</h3></a>
                              <div class="entry-meta">
                                  <span><i class="fa fa-user"></i> <a href="#"> Danny Jones</a></span>
                                  <span><i class="fa fa-folder"></i> <a href="#"> Style</a></span>
                                  <span><i class="fa fa-clock-o"></i> April 5th, 2014</span>
                                  <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments"><span class="counter">14</span> Comments</a></span>
                              </div>
                              <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                              <div class="read-more-wrapper">                                    
                                  <a class="btn btn-outlined btn-primary" href="blog-item.html">Read More</a>
                              </div>
                          </div>
                      </div><!--/.blog-item-->
                      <div class="blog-item">
                          <div class="blog-featured-image">
                              <img class="img-responsive img-blog" src="http://placehold.it/800x600" alt="" />
                              <div class="overlay">
                                  <a class="preview btn btn-outlined btn-primary" href="blog-item.html" rel="prettyPhoto"><i class="fa fa-link"></i></a>
                              </div>  
                          </div>  
                          <div class="blog-content">
                              <a href="blog-item.html"><h3 class="main-title">Civility vicinity graceful is it at.</h3></a>
                              <div class="entry-meta">
                                  <span><i class="fa fa-user"></i> <a href="#"> Danny Jones</a></span>
                                  <span><i class="fa fa-folder"></i> <a href="#"> Style</a></span>
                                  <span><i class="fa fa-clock-o"></i> April 5th, 2014</span>
                                  <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments"><span class="counter">14</span> Comments</a></span>
                              </div>
                              <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                              <div class="read-more-wrapper">                                    
                                  <a class="btn btn-outlined btn-primary" href="blog-item.html">Read More</a>
                              </div>
                          </div>
                      </div><!--/.blog-item-->

                      <nav aria-label="Page navigation example">
                        <ul class="pagination ">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav><!--./pagination-->
                  </div>
              </div><!--/.col-md-8-->
          </div><!--/.row-->
      </div>
  </section><!--/#blog-->
</div>