
    <div id="preloader"></div>
    <app-header></app-header>
    <app-carusel></app-carusel>

    <div id="content-wrapper">
        <app-services></app-services>
        <app-comment></app-comment>
        <app-about-us></app-about-us>
        <app-stats></app-stats>  
        <app-portfolio></app-portfolio>
        <app-comments></app-comments>
        <app-blog></app-blog>
        <app-price></app-price>
        <app-maps-a></app-maps-a>
        <app-contact></app-contact>
    </div>

   <app-footer></app-footer>





